body {
  background: $base-bg-color !important;
  font-family: "Hiragino Kaku Gothic ProN" !important;
  font-weight: bold;
  .BlackPinkTestLogo {
    display: inline-block;
    margin: 2rem auto;
    position: relative;
    overflow: hidden;
    border: solid 4px $base-text-color;
    // border-radius: 11px;
    height: 52px;
    width: 75%;
    .title-logo {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: $base-text-color;
      height: 10rem;
    }
  }

  .OtherLogo {
    display: inline-block;
    margin: 2rem auto 2rem auto;
    position: relative;
    overflow: hidden;
    height: 52px;
    width: 75%;
    .title-logo {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: $base-text-color;
      height: 10rem;
    }
  }

  // STARTボタン
  .area-button {
    text-align: center;
    font-weight: bold;
    border: solid 2px $base-text-color;
    // border-radius: 7px;
    color: $base-text-color;
    width: 20%;
    span {
      font-size: 15px;
      color: $base-text-color;
    }
  }

  // 難易度選択ボタン共通
  .common-mode-button {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10%;
    width: 60%;
    span {
      font-size: 20px;
    }
  }

  // EASY, NORMAL, HARDボタン
  .mode-button {
    border: solid 2px $base-text-color;
    // border-radius: 7px;
    color: $base-text-color;
    span {
      font-size: 20px;
      color: $base-text-color;
    }
  }

  // MASTERボタン
  .master-mode-button {
    border: solid 2px $master-color;
    // border-radius: 7px;
    color: $master-color;
    span {
      font-size: 20px;
      color: $master-color;
    }
  }

  // SUDDEN DEATHボタン
  .suddendeath-mode-button {
    border: solid 2px $suddendeath-color;
    // border-radius: 7px;
    color: $suddendeath-color;
    span {
      font-size: 20px;
      color: $suddendeath-color;
    }
  }
}