// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$base-bg-color: #000000;
$base-bg-pink: #f4a6b8;
$base-text-color: #f4a6b8;
$text-color-black: #000000;
$base-glay: #272727;

$master-color: #A700FF;
$suddendeath-color: #FF0000;
$music-color: #04b6ff;
$bubble-color: #00ffdc;

$card-background-color: #272727;

$ball-green-color: #00ffdc;
$ball-red-color: red;
$ball-orange-color: orange;
$ball-purple-color: #A700FF;
