// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
$base-bg-color: #000000;
$base-bg-black: #000000;
$base-text-color: #f4a6b8;

$master-color: #A700FF;
$suddendeath-color: #FF0000;